@import "tailwindcss";

:root {
  --background:#F5F1E8;
  --foreground:#1C1C1C;
}

html{
scroll-behavior:smooth;
}

body{
background:var(--background);
color:var(--foreground);
font-family: Georgia,"Times New Roman",serif;
letter-spacing:.3px;
margin:0;
padding:0;
}

/* image glow */
.glow{
transition:all .6s ease;
}

.glow:hover{
filter:brightness(1.08) drop-shadow(
0 0 14px rgba(212,160,23,.55)
);
transform:scale(1.02);
}


/* fade in */
.fade-in{
opacity:0;
transform:translateY(20px);
animation:fadeUp 1s ease forwards;
}

@keyframes fadeUp{
to{
opacity:1;
transform:translateY(0);
}
}


/* premium button */
.btn-primary{
background:#D4A017;
color:black;
padding:12px 20px;
border-radius:12px;
transition:all .3s ease;
text-decoration:none;
display:inline-block;
}

.btn-primary:hover{
background:#c39214;
transform:translateY(-2px);
box-shadow:0 10px 20px rgba(0,0,0,.12);
}


/* newsletter shimmer */
.light-beam{
position:relative;
overflow:hidden;
}

.light-beam::before{
content:"";
position:absolute;
top:-50%;
left:-50%;
width:200%;
height:200%;
background:linear-gradient(
120deg,
transparent 20%,
rgba(255,255,255,.12) 40%,
transparent 60%
);
transform:rotate(20deg);
animation:shimmer 10s linear infinite;
pointer-events:none;
}

@keyframes shimmer{
0%{
transform:translateX(-30%) rotate(20deg);
}
100%{
transform:translateX(30%) rotate(20deg);
}
}